.profile {
    margin-top: 1rem;
}

.profile-time-approved {
    margin-left: 1rem;
}

.batas-kanan {
    margin-right: 1rem;
}

.batas-atas {
    margin-top: 1rem;
}

.pointer-hover {
    cursor: pointer;
}