.profile {
    margin-top: 1rem;
}

.profile-time-approved {
    margin-left: 1rem;
}

.batas-kanan {
    margin-right: 1rem;
}

.batas-kiri {
    margin-left: 1rem;
}

.batas-atas {
    margin-top: 1rem;
}

.batas-bawah {
    margin-bottom: 1rem;
}

.ke-kanan {
    position: absolute;
    right: 0;
}

.dropdown-item-custom:hover,
.pointer-hover {
    cursor: pointer;
}

.text-logo {
    position: relative;
    display: inline-block;
}

.mb-0 {
    margin-bottom: 0;
}

.ml-0 {
    margin-left: 0;
    padding-inline-start: 10px;
}

.ml-1 {
    margin-left: 1rem;
}

.block-display {
    display: block;
}

.nav-item-custom {
    color: #fff;
    font-size: 15px;
}

.nav-item-custom:hover {
    color: rgb(228, 228, 228);
}

.input-multi-biruicon {
    background-color: 'biruicon'
}